.imgDiv {
    background-color: #ffffff;
    text-align: center;
}

.imgStyles {
    margin: 20px;
    width: 170px;
    height: auto;
}

.imgStyles:hover {
    margin: 10px;
    width: 180px;
    height: auto;
    box-shadow: 5px 5px 10px #333333;
}

.myCol {
    width: 25%;
}
  
@media (max-width: 859.98px) {
    .myCol {
      width: 33.33%;
    }
}

@media (max-width: 649.98px) {
    .myCol {
      width: 50%;
    }
}