.picContainer  {
    max-width: 840px;
    background-color: #ffffff;
}

@media (max-width: 859.98px) {
    .picContainer {
        max-width: 630px;
    }
}

@media (max-width: 649.98px) {
    .picContainer {
        max-width: 420px;
    }
}